<%- include('partials/header_fortnite') %>

<main>
    <section class="character-container-detail">
        <figure class="character-image">
            <img src="<%= character.images.icon %>" alt="<%= character.name %>">
            <figcaption><p>&copy;Epic Games</p></figcaption>
        </figure>
        <article class="character-info">
            <article class="product-title"><%= character.name %></article>
            <article class="product-description">
                <p><%= character.description %></p>
            </article>
        </article>
        <article class="action-buttons">

            <button class="remove-blacklist-button" onclick="removeFromBlacklist('<%= character.id %>')"><i class="fas fa-ban"></i> Verwijder van Blacklist</button>
        
            <article class="blacklist-reason">
                <% if (locals.message) { %>
                    <p class="message"><%= locals.message %></p>
                <% } %>
                <form onsubmit="updateBlacklistReason(event)">
                    <input type="hidden" id="characterId" value="<%= character.id %>">
                    <input type="text" name="reasonBlacklist" id="BlacklistReason" placeholder="Reden van blacklisting" value="<%= character.reasonBlacklist || 'Personage trekt op niks!' %>">
                    <button type="submit">Reden Bijwerken</button>
                </form>
            </article>
        </article>
    </section>
</main>

<script>
function removeFromBlacklist(characterId) {
    if (confirm('Weet je zeker dat je dit personage wilt verwijderen van de blacklist?')) {
        fetch(`/character/removeFromBlacklist`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ id: characterId }),
        })
        .then(response => response.json())
        .then(result => {
            if (result.success) {
                alert('Personage verwijderd van blacklist!');
                window.location.href = '/blacklisted_characters';  
            } else {
                alert('Er ging iets mis bij het verwijderen!');
            }
        })
        .catch(error => {
            console.error('Fout bij het verwijderen van het karakter van de blacklist:', error);
            alert('Er ging iets mis bij het verwijderen!');
        });
    }
}

function updateBlacklistReason(event) {
    event.preventDefault();
    const characterId = document.getElementById('characterId').value;
    const reasonBlacklist = document.getElementById('BlacklistReason').value;

    fetch('/update-blacklist-reason', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ characterId, reasonBlacklist }),
    })
    .then(response => response.json())
    .then(result => {
        if (result.success) {
            alert('Blacklist reden succesvol bijgewerkt.');
            // Optioneel, ververs de pagina of werk de UI bij
        } else {
            alert('Er ging iets mis bij het bijwerken van de blacklist reden.');
        }
    })
    .catch(error => {
        console.error('Fout bij het bijwerken van de blacklist reden:', error);
        alert('Er ging iets mis bij het bijwerken van de blacklist reden.');
    });
}
</script>

<%- include('partials/footer') %>
