<%- include('partials/header_fortnite')  %>

<main class="characters-main-section">
    <h1 id="characters-title">Geblackliste Personages</h1>
    <article class="character-container">
        <% characters.forEach(character => { %>
            <article class="character" data-id="<%= character.id %>">
                <a href="/blacklist_detail/<%= character.id %>">
                    <img src="<%= character.images.icon %>" alt="<%= character.name %>">
                    <p><%= character.name %></p>
                </a>
            </article>
        <% }); %>
    </article>
</main>

<%- include('partials/footer') %>
