<%- include('partials/header_fortnite') %>

<main>
    <section class="character-container-detail">
        <figure class="character-image">
            <img src="<%= character.images.icon %>" alt="<%= character.name %>">
            <figcaption><p>&copy;Epic Games</p></figcaption>
        </figure>
        <article class="character-info">
            <article class="product-title"><%= character.name %></article>
            <article class="product-description">
                <p><%= character.description %></p>
            </article>
        </article>
        <article class="action-buttons">
            <button class="favorite-button"><i class="far fa-star"></i> <%= character.isFavortite ? 'Unfavorite' : 'Favorite' %></button>
            <button class="blacklist-button"><i class="fas fa-times-circle"></i> <%= character.isBlacklisted ? 'Unblacklist' : 'Blacklist' %></button>
            <button class="profile-button"><i class="fa fa-user"></i>Profielfoto instellen</button>
        </article>
    </section>
</main>

<%- include('partials/footer') %>
